## -*- coding: utf-8 -*-
<footer>

    <section id="get-in-tech" class="overview-block-ptb iq-bg-over text-center  iq-over-blue-80 iq-screenshots iq-parallax"   data-jarallax-video="m4v:./video/01.m4v,webm:./video/01.webm,ogv:./video/01.ogv" >
<!--        data-jarallax='{"speed": 0.6}' style="background: url(/images/bg/01.webp);">-->
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="heading-title white iq-font-white">
                        <h3 class="title iq-tw-7">Download Case Study</h3>
                        <h6 class="iq-font-white iq-mb-30">Want to know more about our process?<br>Download our case study for a Web and Mobile Application that we made to detect cyber-bullying starting at the ideas stage.<br>We discuss our end to end app development process; typically a client's project will be a combination of some of the steps in the process. </h6>
                        <p></p>
                  <!--<a href="https://drive.google.com/uc?export=download&id=1YcgBMz5nisrEvwO50272flSkKGj3GCkJ" class="button bt-black">Download</a>-->
                        <a target="_blank" href="/casestudy.html" class="button bt-black">Download</a>
                    </div>
                </div>   
            </div>
        </div>
    </section>
   

        <!-- Footer Info -->
    <section id="contact-us" class="footer-info white-bg">
        <div class="container">                
            <div class="row justify-content-end">
                <div class="col-md-6 col-lg-4">
                    <div class="iq-get-in">
                        <h4 class="iq-tw-7 iq-mb-20">Get in Touch</h4>
                        <form id="contact">
                            <input  type="hidden" name="form_name" value="footer_contact" >
                            <div class="contact-form">
                                <div class="section-field">
                                    <input class="require" type="text" placeholder="Name*" name="full_name">
                                </div>
                                    
                                <div class="section-field">
                                    <input class="require" type="email" placeholder="Email*" name="contact_email">
                                </div>
                                    
                                <div class="section-field">
                                    <input class="require"  type="text" placeholder="Phone*" name="contact_phone">
                                </div>
                                    
                                <div class="section-field textarea">
                                   <textarea  class="input-message require" placeholder="Comment*" rows="5" name="comments"></textarea>
                                </div>
                                    
                                <div class="section-field iq-mt-20">
                                    <div class="g-recaptcha" data-sitekey="6Lda07QUAAAAAH-4AuDEBO0l8WsVvzPC7DP_iy1t"></div>
                                </div>
                                    
                                <button id="submit" name="submit" type="submit" value="Send" class="button flowlu-submit iq-mt-15">Send Message</button>

                                <div class="flowlu-notification pt-2 text-left">&nbsp;</div>

                                
                            </div>
                        </form>
                        <div id="success">
                    

                                     <blockquote class="blockquote text-right">
                <p class="h3 p-3"> Thank You, Your message has been received. We will get back to you soon.</p> 

              </blockquote>

                                </div>
                        <div id ="contact_spinner" style="display: none;">
              <div class="spinner-border m-5" role="status"  style="width: 5rem; height: 5rem;">
                <span class="sr-only">Loading...</span>
              </div>
            </div>
                    </div>
                </div>
            </div>
        </div>
        <iframe class="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d13867.639139886765!2d76.98041959176847!3d29.664392140685095!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390e716e15378f05%3A0x6e8bc84a458a2704!2sHCODE%20Technologies%20Pvt.%20Ltd.!5e0!3m2!1sen!2sin!4v1566804011902!5m2!1sen!2sin" style="border:0" allowfullscreen></iframe>
    </section>
       
    <section class="iq-footerr iq-ptb-40 ">
        <div class="container">                
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6 iq-mt-40">
                    <div class="logo">                                 
                        <img class="img-fluid logo_img"  src="/images/logo-footer.png" alt="#" >
                        <div class="iq-font-black iq-mt-15 pb-3">Agile, Predictable, Outcome Oriented App Development</div>
                    </div>
                </div>
            
                <div class="col-md-6 col-lg-3 iq-mt-40">
                    <div class="contact-bg">
                        <h5 class="iq-tw-6 iq-font-black  iq-mb-10">Address</h5>
                        <ul class="iq-contact">
                            <li>
                                <i class="ion-ios-location-outline"></i>
                                <p>120/7th Milestone, NH-1, Karnal, Haryana 132001</p>              
                            </li>
              
                            <li>
                                <i class="ion-ios-telephone-outline"></i>
                                <p>+91 9416033324</p>
                            </li>
                            
                            <li>
                                <i class="ion-ios-email-outline"></i>
                                <p>hello@hcode.tech</p>
                            </li>
                        </ul>
                    </div>
                </div>
                
                <div class="col-lg-3 col-md-6 col-sm-6 iq-mt-40">
                    <h5 class="iq-tw-6 iq-font-black  iq-mb-10">Menu</h5>
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <ul class="menu">
                                <li><a href="/index.html">Home</a></li>
                                <li><a href="/index.html#about-us">About Us</a></li>
                                <!--<li><a href="team.html">Our Team</a></li>-->
                                <li><a href="/index.html#services">Services</a></li>
                                <li><a href="/portfolio.html">Portfolio</a></li>
                            </ul>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <ul class="menu">
                <!--<li><a href="javascript:void(0)">Faqs</a></li>
                <li><a href="javascript:void(0)">Blog</a></li> -->
                <!--<li><a href="services.html?content=machine-learning">Our Services</a></li>-->
                                <li><a href="#contact-us">Contact Us</a></li>
                                <li><a href="/terms-of-service.html">Terms Of Use</a></li>
                                <li><a href="/privacy-policy.html">Privacy Policy</a></li>
                            </ul>
                        </div>
                    </div>
                </diV>
                    
                <div class="col-lg-3 col-md-6 col-sm-6 align-self-center">                
                    <ul class="info-share">
                        <li><a target="_blank" href="https://www.linkedin.com/company/hcodetech"><i class="fa fa-linkedin"></i></a></li>             
                        <li><a target="_blank"  href="https://twitter.com/HcodeTech"><i class="fa fa-twitter"></i></a></li>
               <!-- <li><a href="javascript:void(0)"><i class="fa fa-google"></i></a></li>                        
                <li><a href="javascript:void(0)"><i class="fa fa-github"></i></a></li>-->
                
                    </ul>
                </div>                
            </div>            
    
            <div class="row iq-mt-40">                
                <div class="col-sm-12 text-center">
<!-- FIX ME: ADD THE Copyright -->                
                    <div class="footer-copyright iq-ptb-20">Copyright @
                        <span id="copyright">
                            <script>document.getElementById('copyright').appendChild(document.createTextNode(new Date().getFullYear()))</script></span>
                        <a href="/" class="text-green">hcode.tech</a> | All Rights Reserved 
                    </div>
                </div>
            </div>       
        </div>       
    </section>
        <!-- Footer Info END -->    
</footer>

