## -*- coding: utf-8 -*-
<!-- Banner -->
<section class="overview-block-ptb iq-breadcrumb iq-banner-13 text-left iq-over-blue-30 " id="iq-home">
    <div class="banner-text">
        <div class="container">
            <div class="row flex-row-reverse align-items-center">
                <div class="col-lg-7 ">
                    <img src="/images/bg/17.webp" class="banner-img img-fluid iq-pr-50" alt="">
                    <img src="/images/bg/18.webp" class="img-fluid banner-ani wow fadeInRight" alt="">
                </div>
                <div class="col-lg-5 text-left">
                    <h2 class="iq-mb-20 iq-tw-9 r-mt-30">Enabling Entrepreneurs To Weave Bold Visions Into Reality</h2>
                    <p class="bigp">We work with entrepreneurs to build great products and solve hard problems. As a
                        team we have a
                        strong proven record of delivering on complex projects.
                        We believe in ethical business relationships, clear and regular communications and delivering
                        high
                        ROI to our clients.
                    </p>


                    <!-- <a href="javascript:void(0)" class="button bt-black iq-mt-5 ">Download</a> -->
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Banner End -->


<!-- ABOUT US START -->
<section id="about-us" class="overview-block-ptb how-works r-mt-40">
    <div class="container-fluid">
        <div class="row ">
            <div class="col-lg-6 col-md-6 ">
                <img class="iq-works-imgs img-fluid" src="/images/bg/11.webp" alt="drive01">
            </div>
            <div class="col-lg-4 col-md-5 align-self-center">
                <h2 class="iq-tw-6 iq-mb-25">About Us</h2>
                <p class="bigp">We are a small team of experienced Software and Machine Learning engineers who
                    have shipped code for startups in San Francisco, New York, Florida, London, Bengaluru, Delhi, as
                    well as big
                    corporates and govt. bodies such as Goldman Sachs and Indian Railways (Gov. of India).</p>
                <p class="bigp"> We work in Python, Django, React Native / JS, Android, iOS, HTML5, JQuery, Ajax,
                    javascript, MySQL,
                    PostgreSQL, Java etc. For ML we have ample experience using Tensorflow, Keras, numpy, panda, opencv
                    etc. </p>
                <!-- <a href="javascript:void(0)" class="button iq-mt-10">Click Here</a> -->
            </div>
        </div>
    </div>
</section>
<!-- ABOUT US END -->

<!-- OUR EXPERTISE/SERVICES START -->
<section id="services" class="overview-block-ptb grey-bg iq-price-table">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="heading-title">
                    <h3 class="title iq-tw-7">Our Expertise</h3>
                    <p class="bigp">We partner with entrepreneurs to build great products and solve hard problems. We
                        understand the
                        startup way of building things and have expertise in all steps of complete software build cycles
                        from scoping the problem (requirement gathering)
                        to architecture, development, testing and deployment.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-lg-4">
                <div class="iq-pricing text-center pb-5">
                    <div class="price-title iq-parallax iq-over-blue-80" data-jarallax='{"speed": 0.6}'
                         style="background: url(images/bg/31.webp);">
                        <h2 class="text-uppercase iq-font-white iq-tw-7"><small>Mobile / Web </small></h2>
                        <span class="text-uppercase iq-tw-4 iq-font-white">App Development</span>
                    </div>

                    <ul>
                        <li>Startup Products which are apps</li>
                        <li>Rapid Prototyping for 1 month MVP</li>
                        <li>Product Roadmap and Design</li>
                        <li>2 week releases after launch</li>
                        <li>Django and Python based backend</li>
                        <li>Expo and React Native/js based Frontend</li>
                        <li>Custom, responsive Frontend</li>
                    </ul>
                    <!--
                                                <div class="iq-font-15 p-4">
                                                  <p>We have experience and expertise in building Web Applications ranging from very simple websites built in
                                                                 <li>WordPress websites with custom plug-ins</li>
                        <li>Work with experienced Web Developers</li>
                        <li></li>
            <b>WordPress</b> with custom plug-ins to those that complex requiring a backend heavy on calculations/data.</p>
                                                  <p>For the backend, we use <b>Django, Python</b> etc. to incorporate your custom business logic
                                                     with a fast development cycle. For the frontend, we can create highly complex,
                                                     custom, responsive websites directly in <b>CSS, HTML, JavaScript</b>. </p>
                                                </div>
                                              -->
                    <!--    <div class="price-footer">
                          <a class="button" href="services.html?client=web-application">Read More</a>
                        </div>  -->
                </div>
            </div>
            <div class="col-md-4 col-lg-4 r4-mt-30">
                <div class="iq-pricing text-center pb-5">
                    <div class="price-title iq-parallax iq-over-blue-80" data-jarallax='{"speed": 0.6}'
                         style="background: url(images/bg/33.webp);">
                        <h2 class="text-uppercase iq-font-white iq-tw-7"><small>Machine Learning</small></h2>
                        <span class="text-uppercase iq-tw-4 iq-font-white">Services</span>
                    </div>

                    <ul>
                        <li>Machine Learning, AI, Deep Learning</li>
                        <li>Clean, Annotate and Preprocess Data</li>
                        <li>Build, Train and Deploy Models</li>
                        <li>Specialize in Vision and Pricing</li>
                        <li>Cloud based (AWS) scalable trainings</li>
                        <li>Testing with human-friendly visualizations</li>
                        <li>Python / Keras / Tensofrlow/ OpenCv etc</li>
                    </ul>

                    <!-- <div class="iq-font-15 p-4">
                      <p>The founders have 9+ years of <b>experience</b> each of working on Machine Learning and Artificial
                      Intelligence.</p>
                      <p>We can handle all the various aspects of machine learning starting from getting the data stored in
                      a database, hosting it on <b>AWS</b>, building models for classification, identification or predictive
                      analysis and then presentation of the results with a <b>human-friendly visualization</b>.</p>
                    </div> -->

                    <!--  <div class="price-footer">
                        <a class="button" href="services.html?client=machine-learning">Read More</a>
                      </div>  -->
                </div>
            </div>
            <div class="col-md-4 col-lg-4 r4-mt-30">
                <!--<div class="col-md-4 col-lg-4 wow flipInY r4-mt-30" data-wow-duration="1s">-->
                <div class="iq-pricing text-center pb-5">
                    <div class="price-title iq-parallax iq-over-blue-80" data-jarallax='{"speed": 0.6}'
                         style="background: url(images/bg/32.webp);">
                        <h2 class="text-uppercase iq-font-white iq-tw-7"><small>Enterprise</small></h2>
                        <span class="text-uppercase iq-tw-4 iq-font-white">App Development</span>
                    </div>
                    <ul>
                        <li>Software to automate operations of companies</li>
                        <li>Move from excel to software</li>
                        <li>Low Maintenance, Robust and Easy to Use</li>
                        <li>Dashboards with key KPI's</li>
                        <li>Workflows with audit history</li>
                        <li>User Access/Permissions with org directory</li>
                        <li>Export/Import to excel/csv</li>

                        <li></li>
                    </ul>


                    <!-- <div class="iq-font-15 p-4">
                      <p>With Mobile Apps usage on the rise, <b>now</b> is the time to build a mobile app for your business. </p>
                      <p>We can help you get the right app by using latest mobile technology in for a stellar
                         mobile experience.</p>
                      <p>We offer <b>rapid</b> and <b>transparent</b> full cycle app development for Native or cross-platform apps,
                        with a focus on generating engagement and getting you great <b>user experience</b>.</p>
                    </div>
                  -->
                    <!--                            <div class="price-footer">
                                                    <a class="button" href="services.html?client=mobile-application ">Read More</a>
                                                  </div>  -->
                </div>
            </div>

        </div>
    </div>
</section>
<!-- OUR EXPERTISE/SERVICES END -->

<!-- Values -->
<div class="overview-block-ptb services-page " id="values">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="text-center">
                    <h3 class="iq-tw-6 iq-mb-20 ">Our Values</h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <div class="future-services text-center">
                    <div class="future-img">
                        <img src="images/icon/03.png" class="img-fluid" alt="">
                    </div>
                    <h4>Relationship Not Transaction </h4>
                    <p>We believe in building relationships based on trust. Whether it is confidentiality of your data
                        and IPR or delivering your project on time, we only make promises we can deliver on.
                    </p>

                </div>
            </div>

            <div class="col-sm-4">
                <div class="future-services text-center">
                    <div class="future-img">
                        <img src="images/icon/01.png" class="img-fluid" alt="">
                    </div>
                    <h4>Transparent Communication</h4>
                    <p>We keep you fully transparent on our process and the progress on the projects, with clear
                        and regular communications. We believe there is nothing like excess communication.</p>

                </div>
            </div>

            <div class="col-sm-4">
                <div class="future-services text-center">
                    <div class="future-img">
                        <img src="images/icon/02.png" class="img-fluid" alt="">
                    </div>
                    <h4>High ROI</h4>
                    <p>We deliver value to your business by improving quality and reducing cost resulting in high ROI.
                        We will help you operate business more efficiently through innovation.</p>

                </div>
            </div>

        </div>

    </div>
</div>

<!-- Values END -->

<!-- Latest Blog Post -->
<section id="portfolio" class="overview-block-ptb grey-bg iq-blog">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="heading-title">
                    <h3 class="title iq-tw-7">Our Portfolio</h3>
                    <p class="bigp">We have worked on a broad range of projects, from algorithm-heavy backend projects
                        to simple
                        WordPress websites.
                        <br>Here are a few of them, to showcase the diversity of our projects.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="owl-carousel" data-autoplay="true" data-loop="true" data-nav="false" data-dots="true"
                     data-items="3" data-items-laptop="3" data-items-tab="2" data-items-mobile="2"
                     data-items-mobile-sm="1" data-margin="30">
                    <!-- Portfolio Item 11: Pollinate -->
                    <div class="item" onclick="location.href='./portfolio/pollinate.html';" style="cursor: pointer;">
                        <div class="iq-blog-box">
                            <div class="iq-blog-image clearfix">
                                <img class="img-fluid center-block" src="images/portfolio/pollinate.webp" alt="#">
                            </div>

                            <div class="iq-blog-detail">
                                <div class="blog-title">
                                    <a href="./portfolio/pollinate.html"><h5 class="iq-tw-6 iq-mb-10">Pollinate Art</h5>
                                    </a>
                                </div>

                                <div class="blog-content"><p><span style="color:#4ac4f3"><b>[Video Inside]</b></span> We worked closely with the NYC based Pollinate’s team
                                    to define the product roadmap for the minimum viable product (MVP) and build the
                                    complete product (ios/android app).</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Portfolio Item 5: Prepay -->
                    <div class="item" onclick="location.href='./portfolio/prepay.html';" style="cursor: pointer;">
                        <div class="iq-blog-box">
                            <div class="iq-blog-image clearfix">
                                <img class="img-fluid center-block" src="images/portfolio/prepay_homepage_thumbnail.webp" alt="#">
                            </div>
                            <div class="iq-blog-detail">
                                <div class="blog-title"><a href="./portfolio/prepay.html"><h5 class="iq-tw-6 iq-mb-10">
                                    Prepay</h5></a></div>
                                <div class="blog-content">
                                    <p><span style="color:#4ac4f3"><b>[Video Inside]</b></span> We created a web-app to enable customers to seamlessly prepay and schedule for professional services from vendors they know. It was built in ReactJS with Django backend.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <!-- Portfolio Item 10: Funday -->
                    <div class="item" onclick="location.href='./portfolio/funday.html';" style="cursor: pointer;">
                        <div class="iq-blog-box">
                            <div class="iq-blog-image clearfix">
                                <img class="img-fluid center-block" src="images/portfolio/funday.webp" alt="#">
                            </div>

                            <div class="iq-blog-detail">
                                <div class="blog-title">
                                    <a href="./portfolio/funday.html"><h5 class="iq-tw-6 iq-mb-10">FunDay</h5></a>
                                </div>

                                <div class="blog-content">
                                    <p><span style="color:#4ac4f3"><b>[Video Inside]</b></span> We are building this fun app for the Florida based
                                        Funday, Inc. Our stack is django and react-native. We work closely with founders
                                        to priortize features for our every 2 week release.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Portfolio Item 1: SpringBoard -->
                    <div class="item" onclick="location.href='./portfolio/springboard.html';" style="cursor: pointer;">
                        <div class="iq-blog-box">
                            <div class="iq-blog-image clearfix">
                                <img class="img-fluid center-block" src="images/portfolio/sliderule.webp" alt="#">
                            </div>
                            <div class="iq-blog-detail">
                                <div class="blog-title"><a href="./portfolio/springboard.html"><h5
                                        class="iq-tw-6 iq-mb-10">Springboard.com</h5></a></div>
                                <div class="blog-content">
                                    <p>We created the first prototype of the complete app for SpringBoard: review and
                                        aggregation site for online courses and MOOCs.
                                        The startup has since then raised USD 10M+ in funding.</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Portfolio Item 13: cardekho -->
                    <div class="item" onclick="location.href='./portfolio/cardekho.html';" style="cursor: pointer;">
                        <div class="iq-blog-box">
                            <div class="iq-blog-image clearfix">
                                <img class="img-fluid center-block" src="images/portfolio/cardekho.webp" alt="#">
                            </div>

                            <div class="iq-blog-detail">
                                <div class="blog-title">
                                    <a href="./portfolio/cardekho.html"><h5 class="iq-tw-6 iq-mb-10">CarDekho</h5>
                                    </a>
                                </div>

                                <div class="blog-content">
                                    <p>CarDekho is a budding unicorn of India driving a
                                        significant share of old car sales in India. We are building an AI based
                                        pricing model for CarDelkho to enable real-time transactions for customers.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <!-- Portfolio Item 1: Chartbiopsy -->
                    <div class="item" onclick="location.href='./portfolio/chartbiopsy.html';" style="cursor: pointer;">
                        <div class="iq-blog-box">
                            <div class="iq-blog-image clearfix">
                                <img class="img-fluid center-block" src="images/portfolio/chartbiopsy.webp" alt="#">
                            </div>
                            <div class="iq-blog-detail">
                                <div class="blog-title"><a href="./portfolio/chartbiopsy.html"><h5
                                        class="iq-tw-6 iq-mb-10">Chartbiopsy</h5></a></div>
                                <div class="blog-content">
                                    <p>We worked closely with NYC doctors to creating a HIPPA compliant platform to make healthcare patient centric.
                                        The solution architecture was designed to be secure and efficient.</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Portfolio Item 5: Zoyo -->
                    <div class="item" onclick="location.href='./portfolio/zoyo.html';" style="cursor: pointer;">
                        <div class="iq-blog-box">
                            <div class="iq-blog-image clearfix">
                                <img class="img-fluid center-block" src="images/portfolio/zoyo.webp" alt="#">
                            </div>
                            <div class="iq-blog-detail">
                                <div class="blog-title"><a href="./portfolio/zoyo.ai.html"><h5 class="iq-tw-6 iq-mb-10">
                                    Zoyo.ai</h5></a></div>
                                <div class="blog-content">
                                    <p>We built an AI-based platform to shop and perform e-commerce transactions over
                                        chat.
                                        Zoyo was acquired by MagicTiger. MagicX, rebranded zoyo app topped the charts on
                                        GooglePlay.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    


   <!-- Portfolio Item 9: LiftRocket -->
                  <!-- <div class="item" onclick="location.href='./portfolio/liftrocket.html';" style="cursor: pointer;">
                        <div class="iq-blog-box">
                            <div class="iq-blog-image clearfix">
                                <img class="img-fluid center-block" src="images/portfolio/liftrocket.webp" alt="#">
                            </div>

                            <div class="iq-blog-detail">
                                <div class="blog-title">
                                    <a href="./portfolio/liftrocket.html"><h5 class="iq-tw-6 iq-mb-10">Lift Rocket</h5>
                                    </a>
                                </div>

                                <div class="blog-content">
                                    <p><span style="color:#4ac4f3"><b>[Video Inside]</b></span> LiftRocket had a web app built which they wanted ported to an android and ios
                                        app.
                                        We used react native and their existing apis to build the complete app in 2
                                        months.</p>
                                </div>
                            </div>
                        </div>
                    </div> -->

                    <!-- Portfolio Item 1: Debie -->
<!--                     <div class="item" onclick="location.href='./portfolio/debie.html';" style="cursor: pointer;">
                        <div class="iq-blog-box">
                            <div class="iq-blog-image clearfix">
                                <img class="img-fluid center-block" src="images/portfolio/debie.webp" alt="#">
                            </div>
                            <div class="iq-blog-detail">
                                <div class="blog-title"><a href="./portfolio/debie.html"><h5
                                        class="iq-tw-6 iq-mb-10">Debie</h5></a></div>
                                <div class="blog-content">
                                    <p>We worked closely with the NYC based Debie team to build a rating platform for real estate.
                                        The solution incorporated data-streams from multiple sources to generate ratings.</p>
                                </div>
                            </div>
                        </div>
                    </div> -->

                    
                    <!-- Portfolio Item 2: Dextro -->
<!--                     <div class="item" onclick="location.href='./portfolio/dextro.html';" style="cursor: pointer;">
                        <div class="iq-blog-box">
                            <div class="iq-blog-image clearfix">
                                <img class="img-fluid center-block" src="images/portfolio/dextro.webp" alt="#">
                            </div>
 -->                            <!-- <div class="iq-blog-image clearfix">
                                <div class="owl-carousel arrow-1" data-autoplay="false" data-loop="true" data-nav="true" data-dots="false" data-items="1" data-items-laptop="1" data-items-tab="1" data-items-mobile="1" data-items-mobile-sm="1" data-margin="30" >
                                    <div class="item">
                                        <img class="img-fluid" src="images/portfolio/dextro1.webp" alt="#">
                                    </div>
                                    <div class="item">
                                        <img class="img-fluid" src="images/portfolio/dextro2.webp" alt="#">
                                    </div>
                                    <div class="item">
                                        <img class="img-fluid" src="images/portfolio/dextro3.webp" alt="#">
                                    </div>
                                </div>
                              </div> -->
<!--                             <div class="iq-blog-detail">
                                <div class="blog-title"><a href="./portfolio/dextro.html"><h5 class="iq-tw-6 iq-mb-10">
                                    Dextro</h5></a></div>
                                <div class="blog-content">
                                    <p>Our founder worked in Dextro, NYC for 2 years to build and scale a video
                                        understanding platform.
                                        During that time, Dextro was acquired by a publicly traded company, AXON, makers
                                        of taser.</p>
                                </div>
                            </div>
                        </div>
                    </div>
 -->
                    


                    <!-- Portfolio Item 4: Indian Railways -->
                    <div class="item" onclick="location.href='./portfolio/indianrailways.html';"
                         style="cursor: pointer;">
                        <div class="iq-blog-box">
                            <div class="iq-blog-image clearfix">
                                <img class="img-fluid center-block" src="images/portfolio/ir_yo.webp" alt="#">
                            </div>
                            <div class="iq-blog-detail">
                                <div class="blog-title"><a href="./portfolio/indianrailways.html"><h5
                                        class="iq-tw-6 iq-mb-10">Indian Railways</h5></a></div>
                                <div class="blog-content">
                                    <p>Indian Railways has a scheduling problem where they have 130 different trains
                                        with varying needs.
                                        We provided a heuristics based solution with visualisation for this NP hard
                                        problem.</p>
                                </div>
                            </div>
                        </div>
                    </div>


                    <!-- Video Entry
                      <div class="item">
                        <div class="iq-blog-box">
                            <div class="iq-blog-image clearfix">
                                <div class="iq-bolg-video">
                                    ---- Vimeo Video ----
                                    <iframe src="https://player.vimeo.com/video/176916362"></iframe>
                                    OR
                                    ---- YouTube Video ----
                                    <iframe src="https://www.youtube.com/embed/nrJtHemSPW4?rel=0" allowfullscreen></iframe>
                                </div>

                                OR
                                ---- HTML Video ----
                                <div class="media-wrapper">
                                    <video style="width:100%;height:100%;" id="player1" poster="video/01.jpg" controls preload="none">
                                        <source type="video/m4v" src="video/01.m4v" />
                                        <source type="video/webm" src="video/01.webm" />
                                        <source type="video/ogg" src="video/01.ogv" />
                                    </video>
                                </div>

                                OR

                                ---- Audio ----
                                <img class="img-fluid center-block" src="images/blog/03.jpg" alt="#">
                                <div class="players" id="player2-container">
                                    <div class="media-wrapper">
                                        <audio id="player2" preload="none" controls>
                                            <source src="http://www.largesound.com/ashborytour/sound/AshboryBYU.mp3" type="audio/mp3">
                                        </audio>
                                    </div>
                                </div>
                            </div>

                            <div class="iq-blog-detail">
                                <div class="blog-title"> <a href="blog-single.html"><h5 class="iq-tw-6 iq-mb-10">Blogpost With Vimeo</h5> </a> </div>
                                <div class="blog-content">
                                    <p>Quae laboriosam sunt consectetur, assumenda provident lorem ipsum dolor sit amet, consectetur adipisicing elit. hic perspiciatis.</p>
                                </div>
                                <div class="iq-blog-meta">
                                    <ul class="list-inline">
                                        <li class="list-inline-item"><a href="javascript:void(0)"><i class="fa fa-user-circle" aria-hidden="true"></i> Tom Herry</a></li>
                                        <li class="list-inline-item"><a href="javascript:void(0)"><i class="fa fa-calendar" aria-hidden="true"></i> 12 Aug 2017</a></li>
                                        <li class="list-inline-item"><a href="javascript:void(0)"><i class="fa fa-comment-o" aria-hidden="true"></i> 5</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                      </div> -->
                </div>
            </div>
        </div>
        <br/>
        <div class="text-center"><a href="/portfolio.html" class="button ">See All</a></div>
    </div>
</section>
<!-- Latest Blog Post END -->

<!-- Meet the Team -->
<section id="team" class="overview-block-ptb white-bg">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="heading-title">
                    <h3 class="title iq-tw-7">Meet the Team</h3>
                    <p>Hcode Technologies is a small team of rockstar developers run by 3 IIT Delhi engineers (Indian
                        Ivy League). We have a combined experience of 30+ years as Techpreneurs and Software/Machine
                        Learning engineers</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-lg-3 col-md-6">
                <div class="iq-team grey-bg">
                    <div class="iq-team-img">
                        <img src="images/team/shashank.webp" class="img-fluid center-block" style="-webkit-filter: grayscale(100%); filter: grayscale(100%);" alt="#">
                    </div>
                    <div class="iq-team-info text-center px-5">
                        <h5 class="iq-font-black iq-tw-6">Shashank Singla</h5>
                        <span class="team-post iq-tw-5">Tech Enterpreneur with 2 exits in AI in US and India, Engineer, Ex Goldman Sachs, IIT Delhi</span>
                    </div>
                    <div class="share">
                        <ul>
                            <li><a href="https://www.linkedin.com/in/shashanksingla/" target="_blank"><i
                                    class="fa fa-linkedin"></i></a></li>
                            <!-- <li><a href="javascript:void(0)"><i class="fa fa-facebook"></i></a></li> -->
                            <!-- <li><a href="javascript:void(0)"><i class="fa fa-twitter"></i></a></li> -->
                            <!-- <li><a href="javascript:void(0)"><i class="fa fa-github"></i></a></li> -->
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-lg-3 col-md-6 r4-mt-30">
                <div class="iq-team grey-bg">
                    <div class="iq-team-img">
                        <img src="images/team/amrit.webp" class="img-fluid center-block" style="-webkit-filter: grayscale(100%); filter: grayscale(100%);"  alt="#" >
                    </div>
                    <div class="iq-team-info text-center px-5">
                        <h5 class="iq-font-black iq-tw-6">Amrit Singh</h5>
                        <span class="team-post iq-tw-5">Tech Enterpreneur with an exit, Managed International Business, Ex Bureaucrat, Govt. of India, IIT Delhi</span>
                    </div>
                    <div class="share">
                        <ul>
                            <li><a href="https://www.linkedin.com/in/amrit-iitd/" target="_blank"><i
                                    class="fa fa-linkedin"></i></a></li>
                            <!-- <li><a href="javascript:void(0)"><i class="fa fa-facebook"></i></a></li> -->
                            <!-- <li><a href="javascript:void(0)"><i class="fa fa-twitter"></i></a></li> -->
                            <!-- <li><a href="javascript:void(0)"><i class="fa fa-github"></i></a></li> -->
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-lg-3 col-md-6 r-mt-30">
                <div class="iq-team grey-bg">
                    <div class="iq-team-img">
                        <img src="images/team/shweta.webp" style="-webkit-filter: grayscale(100%); filter: grayscale(100%);"  class="img-fluid center-block" alt="#">
                    </div>
                    <div class="iq-team-info text-center px-5">
                        <h5 class="iq-font-black iq-tw-6">Shweta Goel</h5>
                        <span class="team-post iq-tw-5">Machine Learning expert, started, grown & led Quant teams as VP Goldman Sachs New York, IIT Delhi</span>
                    </div>
                    <div class="share">
                        <ul>
                            <li><a href="https://www.linkedin.com/in/shweta-singla/" target="_blank"><i
                                    class="fa fa-linkedin"></i></a></li>
                            <!-- <li><a href="javascript:void(0)"><i class="fa fa-facebook"></i></a></li> -->
                            <!-- <li><a href="javascript:void(0)"><i class="fa fa-twitter"></i></a></li> -->
                            <!-- <li><a href="javascript:void(0)"><i class="fa fa-github"></i></a></li> -->
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-sm-12 col-lg-3 col-md-6 r4-mt-30">
                <div class="iq-team grey-bg">
                    <div class="iq-team-img">
                        <img src="images/team/rakesh.webp" class="img-fluid center-block" style="-webkit-filter: grayscale(100%); filter: grayscale(100%);"  alt="#" >
                    </div>
                    <div class="iq-team-info text-center px-5">
                        <h5 class="iq-font-black iq-tw-6">Rakesh Sehgal</h5>
                        <span class="team-post iq-tw-5">Ad-Tech Enterpreneur specializing in Business Operations, Strategy & Marketing, Ex- PwC, IIT Delhi</span>
                    </div>
                    <div class="share">
                        <ul>
                            <li><a href="https://www.linkedin.com/in/sehgalrakesh/" target="_blank"><i
                                    class="fa fa-linkedin"></i></a></li>
                            <!-- <li><a href="javascript:void(0)"><i class="fa fa-facebook"></i></a></li> -->
                            <!-- <li><a href="javascript:void(0)"><i class="fa fa-twitter"></i></a></li> -->
                            <!-- <li><a href="javascript:void(0)"><i class="fa fa-github"></i></a></li> -->
                        </ul>
                    </div>
                </div>
            </div>
            <!--        <div class="col-sm-12 col-lg-3 col-md-6 r-mt-30">
                       <div class="iq-team grey-bg">
                           <div class="iq-team-img">
                               <img src="images/team/04.jpg" class="img-fluid center-block" alt="#">
                           </div>
                           <div class="iq-team-info text-center">
                               <h5 class="iq-font-black iq-tw-6">kush Jackson</h5>
                               <span class="team-post iq-tw-5">Web Designer</span>
                           </div>
                           <div class="share">
                               <ul>
                                   <li><a href="javascript:void(0)"><i class="fa fa-twitter"></i></a></li>
                                   <li><a href="javascript:void(0)"><i class="fa fa-facebook"></i></a></li>
                                   <li><a href="javascript:void(0)"><i class="fa fa-google"></i></a></li>
                                   <li><a href="javascript:void(0)"><i class="fa fa-github"></i></a></li>
                               </ul>
                           </div>
                       </div>
                     </div> -->
        </div>
    </div>
</section>
<!-- Meet the Team END -->

<!--=================================
  Testimonial -->
<!-- <div id="testimonial" class="overview-block-ptb grey-bg iq-testimonial">
     <div class="container">
         <div class="row">
             <div class="col-lg-12 col-md-12">
                 <div class="owl-carousel" data-autoplay="true" data-loop="true" data-nav="false" data-dots="true" data-items="3" data-items-laptop="3" data-items-tab="2" data-items-mobile="2" data-items-mobile-sm="1" data-margin="30" >
                     <div class="item">
                         <div class="feedback">
                             <div class="iq-info">
                                 <p>Text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                             </div>
                             <div class="iq-mt-30">
                                 <div class="iq-avtar iq-mr-20"> <img alt="" class="img-fluid center-block" src="images/team/small/01.jpg"></div>
                                 <div class="avtar-name iq-font-black">
                                     <div class="iq-lead iq-mb-0 iq-tw-6">Rinks Cooper</div>
                                     <span>CEO, Qwilo</span>
                                     <div class="iq-star iq-font-green"><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star-half-o" aria-hidden="true"></i></div>
                                 </div>
                             </div>
                         </div>
                     </div>
                     <div class="item">
                         <div class="feedback">
                             <div class="iq-info">
                                 <p>Text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                             </div>
                             <div class="iq-mt-30">
                                 <div class="iq-avtar iq-mr-20"> <img alt="" class="img-fluid center-block" src="images/team/small/02.jpg"></div>
                                 <div class="avtar-name iq-font-black">
                                     <div class="iq-lead iq-mb-0 iq-tw-6">JD Scot</div>
                                     <span>CEO, Qwilo</span>
                                     <div class="iq-star iq-font-green"><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star-half-o" aria-hidden="true"></i></div>
                                 </div>
                             </div>
                         </div>
                     </div>
                     <div class="item">
                         <div class="feedback">
                             <div class="iq-info">
                                 <p>Text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                             </div>
                             <div class="iq-mt-30">
                                 <div class="iq-avtar iq-mr-20"> <img alt="" class="img-fluid center-block" src="images/team/small/03.jpg"></div>
                                 <div class="avtar-name iq-font-black">
                                     <div class="iq-lead iq-mb-0 iq-tw-6">Haris Morgan</div>
                                     <span>CEO, Qwilo</span>
                                     <div class="iq-star iq-font-green"><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star-half-o" aria-hidden="true"></i></div>
                                 </div>
                             </div>
                         </div>
                     </div>
                     <div class="item">
                         <div class="feedback">
                             <div class="iq-info">
                                 <p>Text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since 1500s.</p>
                             </div>
                             <div class="iq-mt-30">
                                 <div class="iq-avtar iq-mr-20"> <img alt="" class="img-fluid center-block" src="images/team/small/04.jpg"></div>
                                 <div class="avtar-name iq-font-black">
                                     <div class="iq-lead iq-mb-0 iq-tw-6">Nik Jorden</div>
                                     <span>CEO, Qwilo</span>
                                     <div class="iq-star iq-font-green"><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star-half-o" aria-hidden="true"></i></div>
                                 </div>
                             </div>
                         </div>
                     </div>
                 </div>
             </div>
         </div>
     </div>
   </div>
 =================================
   Testimonial -->


<!--       <section id="how-works" class="overview-block-pb how-works r-mt-40 iq-rmt-80">
         <div class="container-fluid">
            <div class="row  flex-row-reverse">
               <div class="col-lg-6 col-md-6">
                  <img class="iq-works-imgs img-fluid" src="images/10.webp" alt="drive01">
               </div>
               <div class="col-lg-4 col-md-5 align-self-center">
                  <h2 class="iq-mb-25 iq-tw-6">Simply dummy text</h2>
                  <p class="iq-font-15">Simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                  <a href="javascript:void(0)" class="button  iq-mt-5 ">Download</a>
               </div>
            </div>
         </div>
       </section> -->


<!--       <section id="great-features" class="overview-block-ptb how-works r-mt-40">
         <div class="container-fluid">
            <div class="row ">
               <div class="col-lg-6 col-md-6 ">
                  <img class="iq-works-imgs img-fluid" src="images/20.webp" alt="drive01">
               </div>
               <div class="col-lg-4 col-md-5 align-self-center">
                  <h2 class="iq-tw-6 iq-mb-25">Lorem Ipsum has ?</h2>
                  <p class="iq-font-15">Simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                  <a href="javascript:void(0)" class="button iq-mt-10">Click Here</a>
               </div>
            </div>
         </div>
       </section> -->

<!--       <section  class="overview-block-pb how-works r-mt-40 iq-rmt-80">
         <div class="container-fluid">
            <div class="row  flex-row-reverse">
               <div class="col-lg-6 col-md-6">
                  <img class="iq-works-imgs img-fluid" src="images/15.webp" alt="drive01">
               </div>
               <div class="col-lg-4 col-md-5 align-self-center">
                  <h2 class="iq-mb-25 iq-tw-6 r4-mt-30">Variations</h2>
                  <p class="iq-font-15">Simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                  <a href="javascript:void(0)" class="button  iq-mt-5 ">Download</a>
               </div>
            </div>
         </div>
       </section> -->

<!--
      <section  class="overview-block-pb how-works">
         <div class="container-fluid">
            <div class="row ">
               <div class="col-lg-6 col-md-6 ">
                  <img class="iq-works-imgs img-fluid" src="images/16.png" alt="drive01">
               </div>
               <div class="col-lg-4 col-md-5 align-self-center">
                  <h2 class="iq-tw-6 iq-mb-25">Lorem Ipsum has ?</h2>
                  <p class="iq-font-15">Simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                  <a href="javascript:void(0)" class="button iq-mt-10">Click Here</a>
               </div>
            </div>
         </div>
      </section>
    -->
<!--
<div id="testimonial" class="iq-testimonial2 overview-block-ptb iq-pb-120 text-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="heading-title text-center">
                    <h2 class="title iq-tw-6">Client Feedback</h2>
                    <p>Lorem Ipsum is simply dummy text ever sincehar the 1500s, when an unknownshil printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="owl-carousel" data-autoplay="true" data-loop="true" data-nav="false" data-dots="true" data-items="1" data-items-laptop="1" data-items-tab="1" data-items-mobile="1" data-items-mobile-sm="1" >
                    <div class="item">
                        <div class="feedback">
                            <div class="iq-info text-left">
                                <div class="iq-avtar iq-mr-20"> <img alt="#" class="img-fluid center-block" src="images/team/small/01.jpg"></div>
                                <p>Simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type.</p>
                            </div>
                            <div class="iq-mt-30">
                                <div class="avtar-name">
                                    <div class="iq-lead iq-mb-0 iq-tw-6 iq-font-blue">Rinks Cooper</div>
                                    <span>CEO, Qwilo</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="feedback">
                            <div class="iq-info text-left">
                                <div class="iq-avtar iq-mr-20"> <img alt="#" class="img-fluid center-block" src="images/team/small/02.jpg"></div>
                                <p>Simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type.</p>
                            </div>
                            <div class="iq-mt-30">
                                <div class="avtar-name">
                                    <div class="iq-lead iq-mb-0 iq-tw-6 iq-font-blue">Rinks Cooper</div>
                                    <span>CEO, Qwilo</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="feedback">
                            <div class="iq-info text-left">
                                <div class="iq-avtar iq-mr-20"> <img alt="#" class="img-fluid center-block" src="images/team/small/03.jpg"></div>
                                <p>Simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type.</p>
                            </div>
                            <div class="iq-mt-30">
                                <div class="avtar-name">
                                    <div class="iq-lead iq-mb-0 iq-tw-6 iq-font-blue">Rinks Cooper</div>
                                    <span>CEO, Qwilo</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
-->
<!-- Technology Stack -->
<div class="iq-our-clients white-bg iq-ptb-50">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="owl-carousel" data-autoplay="true" data-loop="true" data-nav="true" data-dots="false"
                     data-items="5" data-items-laptop="5" data-items-tab="4" data-items-mobile="3"
                     data-items-mobile-sm="1" data-margin="30">

                    <div class="item"><img class="img-fluid center-block" src="images/techstack/python.webp"
                                           alt="Python"></div>
                    <div class="item"><img class="img-fluid center-block" src="images/techstack/django.webp"
                                           alt="django"></div>
                    <div class="item"><img class="img-fluid center-block" src="images/techstack/react.webp"
                                           alt="React js/React Native "></div>
                    <div class="item"><img class="img-fluid center-block" src="images/techstack/aws.webp"
                                           alt="Amazon web service"></div>
                    <div class="item"><img class="img-fluid center-block" src="images/techstack/android.webp"
                                           alt="Android"></div>
                    <div class="item"><img class="img-fluid center-block" src="images/techstack/ios.webp" alt="ios">
                    </div>
                    <div class="item"><img class="img-fluid center-block" src="images/techstack/flutter.webp"
                                           alt="flutter"></div>
                    <div class="item"><img class="img-fluid center-block" src="images/techstack/tensorflow.webp"
                                           alt="Tensorflow"></div>
                    <div class="item"><img class="img-fluid center-block" src="images/techstack/numpy.webp" alt="numPy">
                    </div>
                    <div class="item"><img class="img-fluid center-block" src="images/techstack/pandas.webp"
                                           alt="Pandas"></div>
                    <div class="item"><img class="img-fluid center-block" src="images/techstack/digitalocean.webp"
                                           alt="DigitalOcean"></div>
                    <div class="item"><img class="img-fluid center-block" src="images/techstack/postgresql.webp"
                                           alt="PostgreSQL"></div>
                    <div class="item"><img class="img-fluid center-block" src="images/techstack/nginx.webp" alt="Nginx">
                    </div>

                    <div class="item"><img class="img-fluid center-block" src="images/techstack/ubuntu.webp"
                                           alt="Ubuntu"></div>
                    <div class="item"><img class="img-fluid center-block" src="images/techstack/js-html5-css.webp"
                                           alt="html5 js css"></div>

                    <div class="item"><img class="img-fluid center-block" src="images/techstack/wordpress.webp"
                                           alt="Wordpress"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Technology Stack END -->

</div>
<!-- Main Content END -->

</div>

