## -*- coding: utf-8 -*-
<%page args="logo_img_src_append='', navigation_container_append=''"/>
<!-- loading -->
      <!-- <div id="loading">
         <div id="loading-center">
            <div class="loader">
               <div class="cube">
                  <div class="sides">
                     <div class="top"></div>
                     <div class="right"></div>
                     <div class="bottom"></div>
                     <div class="left"></div>
                     <div class="front"></div>
                     <div class="back"></div>
                  </div>
               </div>
            </div>
         </div>
       </div> -->
       <!-- loading End -->
       <!-- Header -->
     
        <div class="container${navigation_container_append}">
          <div class="row">
            <div class="col-sm-12">
              <nav class="navbar navbar-expand-lg navbar-light">
                <a class="navbar-brand" href="/index.html">
                  <img class="img-fluid logo_img" id="logo_img" src="/images/logo${logo_img_src_append}.png" alt="#">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="ion-navicon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav mr-auto w-100 justify-content-end">
                    <li class="nav-item">
                      <a class="nav-link active" href="/index.html#iq-home">Home</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/index.html#about-us">About</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/index.html#services">Services</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/index.html#values">Values</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/portfolio.html">Portfolio</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/index.html#team">Team</a>
                    </li>
                                <!-- <li class="nav-item">
                                    <a class="nav-link" href="#testimonial">Testimonials</a>
                                  </li> -->
                    <li class ="nav-item">
                      <a class="nav-link" href="https://www.indeedjobs.com/hcode-technologies/" target="_blank">Career</a>               
                    </li>

                    <li class="nav-item">                              
                      <a class="nav-link" href="#contact-us">Contact</a>
                    </li>
                  </ul>
                </div>
              </nav>              
            </div>              
          </div>              
        </div>              
          