## -*- coding: utf-8 -*-
<div class="row">
    <div class="col-md-12 col-sm-12">
        <div class="iq-blog-box iq-mt-40">

            <div class="iq-blog-image clearfix">
                <div class="owl-carousel arrow-1" data-autoplay="true" data-loop="true" data-nav="true" data-dots="false" data-items="1" data-items-laptop="1" data-items-tab="1" data-items-mobile="1" data-items-mobile-sm="1" data-margin="30"  >
                    <div class="item">
                        <img class="img-fluid" src="/images/portfolio/chartbiopsy1.png" alt="#">
                    </div>

                    <div class="item">
                        <img class="img-fluid" src="/images/portfolio/chartbiopsy2.png" alt="#">
                    </div>

                    <div class="item">
                        <img class="img-fluid" src="/images/portfolio/chartbiopsy3.png" alt="#">
                    </div>

                    <div class="item">
                        <img class="img-fluid" src="/images/portfolio/chartbiopsy4.png" alt="#">
                    </div>

                    <div class="item">
                        <img class="img-fluid" src="/images/portfolio/chartbiopsy5.png" alt="#">
                    </div>
                </div>
            </div>


            <div class="iq-blog-detail">
                <div class="blog-title"> <h5 class="iq-tw-6 iq-mb-10">Chartbiopsy : Healtcare Platform</h5>
                </div>
                
                <div class="blog-content">
                    <p>We worked closely with NYC doctors to creating a HIPPA compliant platform to make healthcare patient centric.
                    Chartbiopsy is a medical data contextualization service by physicians who bring all the medical data of a patient together to enable patient centric healthcare.</p>
                    <u>The prototype included:</u>
                    <br>
                    <ul class ="portfolio-list">
                        <li> the platform is powered by Django,</li>
                        <li> the frontend design in HTML5 (responsive with grid layout system),</li>
                        <li> integrated APIs like SrFax, Stripe</li>
                        <li> HIPPA compliant end-to-end secure solution</li>
                    </ul>
                    <br>
                    We also created a Virtual Server for all the compilation and contextualization work to keep the solution fully secure.
                    
                </div>

                <ul class="iq-tags list-inline iq-mtb-50">
                    <li><a href="javascript:void(0)">Bootstrap</a></li>
                    <li><a href="javascript:void(0)">HTML5</a></li>
                    <li><a href="javascript:void(0)">Wordpress</a></li>
                </ul>

                
            </div>
            
        </div>
    </div>
    
  

</div>
