## -*- coding: utf-8 -*-
<div class="row">
    <div class="col-md-12 col-sm-12">
        <div class="iq-blog-box iq-mt-40">
            <div class="iq-blog-image clearfix">
                <img class="img-fluid center-block" src="/images/portfolio/cloudyexcel1.png" alt="#">
            </div>


            <div class="iq-blog-detail">
                <div class="blog-title"> <h5 class="iq-tw-6 iq-mb-10">CloudyExcel.com: Diff on Excel Sheets</h5>  </div>
                <div class="blog-content">
                    <p>We built cloudyexcel.com, which is a top link on google for 'comparing excel sheets online' and few other keywords.Used by people from ​<a href = "https://medium.com/@shashank.singla/i-conquered-the-world-well-95-63-of-it-b091948aa0c5" target = "_blank"style = color:brown><u>across 167 countries</u></a>​ and 100,000 comparisons done annually.</p>
                </div>

                <ul class="iq-tags list-inline iq-mtb-50">
                    <li><a href="javascript:void(0)">Bootstrap</a></li>
                    <li><a href="javascript:void(0)">HTML5</a></li>
                    <li><a href="javascript:void(0)">Wordpress</a></li>
                </ul>


            </div>
        </div>
    </div>

</div>
