## -*- coding: utf-8 -*-
<div class="row">
    <div class="col-md-12 col-sm-12">
        <div class="iq-blog-box iq-mt-40">
            
            <div class="iq-blog-image clearfix">
                <div class="owl-carousel arrow-1" data-autoplay="true" data-loop="true" data-nav="true" data-dots="false" data-items="1" data-items-laptop="1" data-items-tab="1" data-items-mobile="1" data-items-mobile-sm="1" data-margin="30"  >
                    <div class="item">
                        <img class="img-fluid" src="/images/portfolio/dextro1.png" alt="#">
                    </div>
            
                    <div class="item">
                        <img class="img-fluid" src="/images/portfolio/dextro2.png" alt="#">
                    </div>
            
                    <div class="item">
                        <img class="img-fluid" src="/images/portfolio/dextro3.png" alt="#">
                    </div>
                </div>
            </div>


            <div class="iq-blog-detail">
                <div class="blog-title"> <h5 class="iq-tw-6 iq-mb-10">Dextro: Video Understanding Platform</h5>  </div>
                <div class="blog-content">
                    <p>Our founder, Shashank Singla, worked in Dextro for 2 years as part of a 10 member startup to build and scale a video understanding platform.</p>
                    <p>During that time, Dextro was ​<a href = "https://www.alleywatch.com/2017/02/this-nyc-startup-was-just-acquired-by-taser-to-make-video-understandable/"target = "_blank" style = "color:brown"><u>acquired</u></a>​ by a publicly traded company, AXON, makers of taser.</p>
                    <u>Main highlights below:</u>
                    <br>
                    <ul class="portfolio-list" >
                        <li>Scaled and enhanced the evaluation framework for neural network models, bringing down the time of evaluation from a 1-2 week period to 2 days and built a UI to expose functionalities.</li>
                        <li>Moved complete training pipeline from a single machine Caffe setup to cloud multi machine Tensorflow setup.</li>
                        <li>Built an end to end video classification engine for pilot with LAPD body worn camera video</li>
                    </ul>
                </div>

                <ul class="iq-tags list-inline iq-mtb-50">
                    <li><a href="javascript:void(0)">Bootstrap</a></li>
                    <li><a href="javascript:void(0)">HTML5</a></li>
                    <li><a href="javascript:void(0)">Wordpress</a></li>
                </ul>


            </div>
        </div>
    </div>

</div>
