## -*- coding: utf-8 -*-
<div class="row">
    <div class="col-md-12 col-sm-12">
        <div class="iq-blog-box iq-mt-40">
            <div class="iq-blog-image clearfix">

                <div class="owl-carousel arrow-1" data-autoplay="false" data-loop="true" data-nav="true"
                     data-dots="false" data-items="1" data-items-laptop="1" data-items-tab="1" data-items-mobile="1"
                     data-items-mobile-sm="1" data-margin="30">
                    <div class="item">
                        <div class="iq-bolg-video">
                            <iframe src="https://www.youtube.com/embed/qZ8rDH6zTZM?rel=0" allowfullscreen></iframe>
                        </div>
                    </div>

                    <div class="item">
                        <img class="img-fluid" src="/images/portfolio/funday1.png" alt="#">
                    </div>

                </div>


            </div>


            <div class="iq-blog-detail">
                <div class="blog-title"><h5 class="iq-tw-6 iq-mb-10"><a
                        href="https://www.getfunday.com/" target="_blank">FunDay&nbsp;<span class="primary_color"><i
                        class="ion-link"></i> </span></a></h5>
                </div>

                <p class="blog-content">
                <p>Funday makes local merchant inventory available at public beaches, so you can make the most of
                    your beach day.</p>


                On-demand food, beverage, and beach essentials delivered to your location on the beach.

                <br>
                <br>

                To enable this app uses a smart combination of geo location, an image of the surroundings and some
                notes to identify the exact location of the user on the beach.

                All of this done in a seamless experience for the end user.

                The app was built in django and react-native. We did the first release in 4 weeks and releasing updates
                every 2 weeks.
                <br><br>
                The app is currently in private beta.

                <!--                The app is available on apple store and playstore-->
                <!--                for download. We work closely with founders-->

                </p>
                <!--                    <a href="https://apps.apple.com/tt/app/pollinate-art/id1493508255">-->
                <!--                    <img class="iq-pall-10" src="/images/icon/ios-app-button.png" alt="#"></a>-->
                <!--                <a href="https://play.google.com/store/apps/details?id=co.pollinate.pollinateapp">-->
                <!--                    <img class="iq-pall-10" src="/images/icon/android-app-button.png" alt="#"></a>-->


                <ul class="iq-tags list-inline iq-mtb-50">
                    <li><a href="javascript:void(0)">Django</a></li>
                    <li><a href="javascript:void(0)">Python</a></li>
                    <li><a href="javascript:void(0)">React Native</a></li>
                    <li><a href="javascript:void(0)">Food</a></li>
                    <li><a href="javascript:void(0)">Leisure</a></li>
                    <li><a href="javascript:void(0)">E-Commerce</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
