## -*- coding: utf-8 -*-
<div class="row">
    <div class="col-md-12 col-sm-12">
        <div class="iq-blog-box iq-mt-40">
            

            <div class="iq-blog-image clearfix">
                <div class="owl-carousel arrow-1" data-autoplay="true" data-loop="true" data-nav="true" data-dots="false" data-items="1" data-items-laptop="1" data-items-tab="1" data-items-mobile="1" data-items-mobile-sm="1" data-margin="30"  >
                    <div class="item">
                        <img class="img-fluid" src="/images/portfolio/Yard Optimization1.jpeg" alt="#">
                    </div>
                    <div class="item">
                        <img class="img-fluid" src="/images/portfolio/Yard Optimization2.png" alt="#">
                    </div>
                </div>
            </div>


            <div class="iq-blog-detail">
                <div class="blog-title"> <h5 class="iq-tw-6 iq-mb-10">Indian Railways: Yard Optimization</h5>  </div>
                <div class="blog-content">
                    <p>Indian Railways has a scheduling problem (currently solved manually) where they have 130 different trains being serviced by a station over a period of one week with varying arrival - departure times, rake length, rake type and maintenance needs. The station has different platforms, each supporting a subset of these trains, and these platforms are connected to a subset of the maintenance lines and the spare lines.</p>
                    <br>
                    <p>This is an NP Hard problem and a brute force solution for this, would have to go through millions of options, i.e. impossible with the memory constraints of the current computers, and even if possible would take more than a week to solve it.</p>
                    <br>
                    <p>We provided a heuristics based algorithm to determine an optimal schedule, with visualisation for the solution.</p>
                    
                </div>

                <ul class="iq-tags list-inline iq-mtb-50">
                    <li><a href="javascript:void(0)">Bootstrap</a></li>
                    <li><a href="javascript:void(0)">HTML5</a></li>
                    <li><a href="javascript:void(0)">Wordpress</a></li>
                </ul>


            </div>
        </div>
    </div>

</div>
