## -*- coding: utf-8 -*-
<div class="row">
    <div class="col-md-12 col-sm-12">
        <div class="iq-blog-box iq-mt-40">
            <div class="iq-blog-image clearfix">
                <img class="img-fluid center-block" src="/images/portfolio/indore241.jpeg" alt="#">
            </div>

            


            <div class="iq-blog-detail">
                <div class="blog-title"> <h5 class="iq-tw-6 iq-mb-10">Indore 24 - Indore News App</h5>  </div>
                <div class="blog-content">
                    <p>Indore 24 is a news app which provides you latest news of Indore. Indore 24 shows news from credible journalists of Indore within 80 words.</p>
                    <br>
                    <p>
                        This app was made in native android and had offline sync. We used localization to support multiple local languages. It has an admin panel which can be used by journalists to upload news which are then shown to the users. It also supports videos.
                    </p>
                </div>

                <ul class="iq-tags list-inline iq-mtb-50">
                    <li><a href="javascript:void(0)">Bootstrap</a></li>
                    <li><a href="javascript:void(0)">HTML5</a></li>
                    <li><a href="javascript:void(0)">Wordpress</a></li>
                </ul>


            </div>
        </div>
    </div>

</div>
