## -*- coding: utf-8 -*-
<div class="row">
    <div class="col-md-12 col-sm-12">
        <div class="iq-blog-box iq-mt-40">

            <div class="iq-blog-image clearfix">
                <div class="owl-carousel arrow-1" data-autoplay="true" data-loop="true" data-nav="true" data-dots="false" data-items="1" data-items-laptop="1" data-items-tab="1" data-items-mobile="1" data-items-mobile-sm="1" data-margin="30"  >
                    <div class="item">
                        <img class="img-fluid" src="/images/portfolio/SpringBoard1.png" alt="#">
                    </div>

                    <div class="item">
                        <img class="img-fluid" src="/images/portfolio/SpringBoard2.png" alt="#">
                    </div>
                </div>
            </div>


            <div class="iq-blog-detail">
                <div class="blog-title"> <h5 class="iq-tw-6 iq-mb-10">SpringBoard.com : First Prototype</h5>  
                </div>
                
                <div class="blog-content">
                    <p>We created the first prototype of the complete application for SpringBoard, and the firm raised USD 10M+ in funding.
                    SpringBoard is a review and aggregation site for online courses and MOOCs like coursera, udemy and many other providers.</p>
                    <u>The prototype included:</u>
                    <br>
                    <ul class ="portfolio-list">
                        <li> the backend API in Django,</li>
                        <li> the frontend design in HTML5 (responsive with grid layout system),</li>
                        <li> integrated social APIs like facebook,</li>
                        <li> review and rating system and</li>
                        <li> deployed the API on a cloud server.</li>
                    </ul>
                    <br>
                    We also scrapped the data for the application from multiple sites online (using Python - BeautifulSoup)
                    
                </div>

                <ul class="iq-tags list-inline iq-mtb-50">
                    <li><a href="javascript:void(0)">Bootstrap</a></li>
                    <li><a href="javascript:void(0)">HTML5</a></li>
                    <li><a href="javascript:void(0)">Wordpress</a></li>
                </ul>

                
            </div>
            
        </div>
    </div>
    
  

</div>
