## -*- coding: utf-8 -*-
<div class="row">
    <div class="col-md-12 col-sm-12">
        <div class="iq-blog-box iq-mt-40">
            <div class="iq-blog-image clearfix">
                <img class="img-fluid center-block" src="/images/portfolio/verificient1.png" alt="#">
            </div>

            <div class="iq-blog-detail">
                <div class="blog-title"> <h5 class="iq-tw-6 iq-mb-10">Verificent: ​ Online Identity Verification for Automated Monitoring</h5>
                </div>
                <div class="blog-content">
                    <p>
                        <a href ="https://www.verificient.com/" target="_blank" style = "color:brown"><u>Verificient​</u></a>
                        Technologies is a New York City-based Software as a Service (SaaS) firm specializing in scalable continuous identity verification solutions through machine learning and biometrics
                    </p>
                    <p> We work with institutions and corporations in a variety of industries and verticals who are looking for automated solutions for verifying the identity of end users. We worked closely with CTO and product development team to build integrations of verificient'sautomated proctoring platform with Learning Management Systems (LMS) like Moodle,Blackboard, Canvas, Brighspace, Pearson Learning Studio and more. This required us to go through the API documentation of these LMS'es, which sometimes were pretty complicated, legacy or Window based software and build a seamless integration in a short period of time.</p>
                    
                </div>

                <ul class="iq-tags list-inline iq-mtb-50">
                    <li><a href="javascript:void(0)">Bootstrap</a></li>
                    <li><a href="javascript:void(0)">HTML5</a></li>
                    <li><a href="javascript:void(0)">Wordpress</a></li>
                </ul>


            </div>
        </div>
    </div>

</div>
