## -*- coding: utf-8 -*-
<div class="row">
    <div class="col-md-12 col-sm-12">
        <div class="iq-blog-box iq-mt-40">
<!--             <div class="iq-blog-image clearfix">
                <img class="img-fluid center-block" src="images/blog/zoyo1.png" alt="#">
            </div> -->

            <div class="iq-blog-image clearfix">
                <div class="owl-carousel arrow-1" data-autoplay="true" data-loop="true" data-nav="true" data-dots="false" data-items="1" data-items-laptop="1" data-items-tab="1" data-items-mobile="1" data-items-mobile-sm="1" data-margin="30"  >
                    <div class="item">
                        <img class="img-fluid" src="/images/portfolio/zoyo1.png" alt="#">
                    </div>
                    <div class="item">
                        <img class="img-fluid" src="/images/portfolio/zoyo2.png" alt="#">
                    </div>
                    <div class="item">
                        <img class="img-fluid" src="/images/portfolio/zoyo3.jpeg" alt="#">
                    </div>
                    <div class="item">
                        <img class="img-fluid" src="/images/portfolio/zoyo4.png" alt="#">
                    </div>
                </div>
            </div>


            <div class="iq-blog-detail">
                <div class="blog-title"> <h5 class="iq-tw-6 iq-mb-10">ZoyoAI: NLP Based Chat Bot for shopping</h5>  </div>
                <div class="blog-content">
                    <p>We built an artificial intelligence-based platform that allows users to shop and perform e-commerce transactions over chat. Chat and tell Zoyo what you are looking for. Zoyo will suggest products based on your preferences. Zoyo could also tell you latest news, imdb ratings, horoscope, translations, weather, PNR status etc.</p>
                    <br>
                    <p>Zoyo was ​<a href = "/home/hcode2/Dropbox/hcode_public/Portfolio Images/zoyo1.png" target = "_blank" style ="color:brown"><u>acquired</u></a>​ by MagicTiger, and then we helped MagicTiger release a new app called magicX.</p>
                    <br>
                    <p> MagicX app (which was a rebranded zoyo app) topped the charts on GooglePlay in the first week of release.</p>
                </div>

                <ul class="iq-tags list-inline iq-mtb-50">
                    <li><a href="javascript:void(0)">Bootstrap</a></li>
                    <li><a href="javascript:void(0)">HTML5</a></li>
                    <li><a href="javascript:void(0)">Wordpress</a></li>
                </ul>


            </div>
        </div>
    </div>

</div>
