@tailwind components;
@layer components {
  .new-container {
    @apply max-w-7xl mx-auto px-6 sm:px-6 lg:px-8;
  }
  .primary-button {
    @apply bg-primary px-12 py-5 text-center text-white rounded-md hover:bg-blue-800 hover:scale-x-105 active:scale-100 focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-800 focus:ring-white;
  }
  .outline-button {
    @apply bg-white border border-primary text-primary hover:bg-primary hover:text-white  transition-colors duration-100 ease-out rounded px-4 py-3 mt-3;
  }
  strong {
    @apply font-bold;
  }
  .input-form {
    @apply mt-1 focus:ring-primary focus:border-primary block w-full shadow-sm sm:text-sm border-gray-300 rounded-md;
  }
  .input-radio {
    @apply focus:ring-primary h-4 w-4 text-primary border-gray-300;
  }
  .primary-outline {
    @apply px-4 py-3 rounded border border-primary hover:bg-primary hover:text-white text-primary transform transition duration-100 ease-out;
  }
}

/* Start Accordion Css */
.accordionSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: #fff;
}

.acc_container {
  top: 30%;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}

.wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  text-align: center;
  cursor: pointer;
}

.wrap h1 {
  font-size: 1rem;
  padding: 1rem 0;
}

.wrap span {
  margin-right: 1.5rem;
}

.dropdown {
  background: #fbfbfb;
  color: #000;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.dropdown p {
  font-size: 1rem;
}
/* End Accordion Css */

/* Start Clients Section CSS */

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*  */

/*========*/
@mixin white-gradient {
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 0) 100%
  );
}

$animationSpeed: 40s;

// Animation
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 17));
  }
}

// Styling
.slider {
  height: 140px;
  margin: auto;
  overflow: hidden;
  position: relative;
  //width: 1216px;

  &::before,
  &::after {
    //@include white-gradient;
    content: "";
    height: 100px;
    position: absolute;
    width: 200px;
    z-index: 2;
  }

  &::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
  }

  &::before {
    left: 0;
    top: 0;
  }

  .slide-track {
    animation: scroll $animationSpeed linear infinite;
    display: flex;
    width: calc(250px * 34);
  }

  .slide {
    height: 100px;
    width: 250px;
  }
}

//image slider changes
.image_slider {
  margin: auto;
  overflow: hidden;
  position: relative;

  &::before,
  &::after {
    content: "";
    position: absolute;
    width: 300px;
    z-index: 2;
  }

  &::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
  }

  &::before {
    left: 0;
    top: 0;
  }

  .image_slide-track {
    animation: scroll $animationSpeed linear infinite;
    display: flex;
    width: calc(300px * 34);
  }

  .image_slide {
    height: 308px;
    width: 550px;
    margin: 10px;
  }
  .imgs {
    object-fit: cover;
    height: 100%;
    width: 100%;
  }
}

.custom-navbar {
  .dropdown:hover .dropdown-menu {
    display: block;
  }
}

// Horizontal Dotted Process Bar
.step-indicator {
  .dot-container {
    margin-top: 50px;
    display: flex;
    align-items: center;
    padding: 0 40px;

    .step {
      display: flex;
      align-items: center;
      flex-direction: column;
      position: relative;
      z-index: 1;
    }

    .step-icon {
      height: 50px;
      width: 50px;
      border-radius: 50%;
      background: #276ef1;
      font-size: 10px;
      text-align: center;
      color: #ffffff;
      position: relative;
      line-height: 50px;
      font-size: 20px;
    }

    .step.active .step-icon {
      background: crimson;
    }

    .step p {
      text-align: center;
      position: absolute;
      bottom: -50px;
      color: #000;
      font-size: 14px;
      font-weight: 600;
    }

    .step.active p {
      color: crimson;
    }

    .step.step2 p {
      left: 50%;
      transform: translateX(-50%);
      top: -70%;
    }

    .step.step3 p {
      left: 50%;
      transform: translateX(-50%);
      top: -100%;
      width: 120px;
    }

    .indicator-line {
      width: 100%;
      height: 2px;
      background: #000;
      flex: 1;
      margin: 12px;
    }

    .indicator-line.active {
      background: crimson;
    }

    @media screen and (max-width: 500px) {
      .step p {
        font-size: 11px;
        bottom: -20px;
      }
    }
  }

  @media screen and (max-width: 500px) {
    .dot-container {
      margin-top: 20px;
      display: block;
      align-items: center;
      padding: 0;

    .step {
      display: block;
      align-items: center;
      flex-direction: column;
      position: relative;
      z-index: 1;
    }

    .step-icon {
      height: 50px;
      width: 50px;
      border-radius: 50%;
      background: #276ef1;
      font-size: 10px;
      text-align: center;
      color: #ffffff;
      position: relative;
      line-height: 50px;
      font-size: 20px;
    }

    .step.active .step-icon {
      background: crimson;
    }

    .step p {
      text-align: center;
      position: absolute;
      bottom: 15px;
      left: 20%;
      color: #000;
      font-size: 14px;
      font-weight: 600;
    }

    .step.active p {
      color: crimson;
    }

    .step.step2 p {
      top: 13px;
      bottom: 0;
      left: 20%;
      transform: unset;

    }

    .step.step3 p {
      top: 5px;
      bottom: 0;
      left: 15%;
      transform: unset;
    }

    .indicator-line {
      height: 50px;
      width : 2px;
      background: #000;
      flex: 1;
      margin: 12px 24px;
    }

    .indicator-line.active {
      background: crimson;
    }

    }
  }
}

// Vertical Blue Dotted Process Bar
.dotted {
  position: relative;
}

.dot-circle {
  width: 20px;
  height: 20px;
  background-color: #276ef1;
  border-radius: 50%;
  margin-right: 20px;
}
.dot-line {
  height: 100%;
  position: absolute;
  border-left: 1px solid #276ef1;
  left: 1.8%;
}

.dot-line-hide {
  display: none;
}
